main {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  padding: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

form {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid rgb(156, 253, 156);
}

/* Oh-dash */

.o-hide {
  display: none;
  visibility: 0;
}
